.grid {
  display: grid;
}
.gdw-2{
	grid-template-columns: repeat(2, 1fr);
}
.gdw-3{
	grid-template-columns: repeat(3, 1fr);
}
.gdw-4{
	grid-template-columns: repeat(4, 1fr);
}
.gdw-5{
	grid-template-columns: repeat(5, 1fr);
}
.gdw-6{
	grid-template-columns: repeat(6, 1fr);
}
.gdw-7{
	grid-template-columns: repeat(7, 1fr);
}
.gdw-8{
	grid-template-columns: repeat(8, 1fr);
}
.gdwSpan-2{
	grid-column-end: span 2;
}
.gdwSpan-3{
	grid-column-end: span 3;
}
.gdwSpan-4{
	grid-column-end: span 4;
}
.gdwSpan-5{
	grid-column-end: span 5;
}
.grid img{
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}
.grid .panoramic-img img{
	height: calc(15vw);
}

