.grid {
  display: grid;
}
/* GridDesktop */
.gd_rows-2{
	grid-template-columns: repeat(2, 1fr);
}
.gd_rows-3{
	grid-template-columns: repeat(3, 1fr);
}
.gd_rows-4{
	grid-template-columns: repeat(4, 1fr);
}
.gd_rows-5{
	grid-template-columns: repeat(5, 1fr);
}
.gd_rows-6{
	grid-template-columns: repeat(6, 1fr);
}
.gd_rows-7{
	grid-template-columns: repeat(7, 1fr);
}
.gd_rows-8{
	grid-template-columns: repeat(8, 1fr);
}
.gd_rowSpan-2{
	grid-column-end: span 2;
}
.gd_rowSpan-3{
	grid-column-end: span 3;
}
.gd_rowSpan-4{
	grid-column-end: span 4;
}
.gd_rowSpan-5{
	grid-column-end: span 5;
}
.grid img{
	object-fit: cover;
	width: 100%;
	max-height: 100%;
}
.grid .panoramic-img img{
	height: calc(15vw);
}

